<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/static/layout.css" />
</head>
<body>
    <footer>
        <img class="footer-img" src="/static/full_logo_white.png" alt="logo"/>
        <h1 class="footer-title">Schedule website</h1>
        <div class="footer-left">
            <button class="footer-button" onclick="window.location.href='/login'">LogIn</button>
        </div>
    </footer>
    <div class="title">   
        <h2>Register to access our schedule webpage.</h2>
        <div class="alert {{&messageClass}}" role="alert">
                {{message}}
        </div>
        <div>
            <form method="POST" enctype="application/x-www-form-urlencoded">
                <label>firstname (2 or more letters)</label>
                <input type="text" name="firstname" required pattern="[A-Za-z]{2,}">
                <label>lastname (3 or more letters)</label>
                <input type="text" name="lastname" required pattern="[A-Za-z]{3,}">
                <label>email (example: user@mrcoffee.com)</label>
                <input type="email" name="email" required>
                <label>password (8 or more characters)</label>
                <input type="password" name="password" required pattern=".{8,}" id="password">
                <label>confirm password (must be identical to the above one)</label>
                <input  type="password"  name="confirmPassword" required id="confirmPassword">
                <button type="submit">SignUp</button>
            </form>
            <script>
                const password = document.getElementById("password");
                const confirmPassword = document.getElementById("confirmPassword");

                function validatePassword() {
                    if (password.value !== confirmPassword.value) {
                    confirmPassword.setCustomValidity('Passwords do not match')
                } else {
                    confirmPassword.setCustomValidity('');
                };
                }

                password.onchange = validatePassword;
                confirmPassword.onkeyup = validatePassword;
            </script>
        </div>
    </div>   
</body>
</html>
